<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.coclearapp.pdm_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:installLocation="internalOnly"
            android:label="@string/app_name"
            android:roundIcon="@drawable/app_icon"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".Activities.SyllableListen"></activity>
        <activity
                android:name=".Activities.VowelsListen"
                android:screenOrientation="userLandscape"></activity>
        <activity
                android:name=".Activities.AnimalListen"
                android:screenOrientation="userLandscape"></activity>
        <activity
                android:name=".Activities.InstrumentsListen"
                android:screenOrientation="userLandscape"></activity>
        <activity
                android:name=".Activities.InstrumentsListenPractice"
                android:label="@string/title_activity_instruments_listen_practice"
                android:screenOrientation="userLandscape"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen.NoActionBar" />
        <activity
                android:name=".Activities.AnimalsListenPractice"
                android:label="@string/title_activity_animals_listen_practice"
                android:screenOrientation="userLandscape"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen.NoActionBar" />
        <activity
                android:name=".Activities.SyllablesListenPractice"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Activities.VowelsListenPractice"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Activities.LoginActivity"
                android:screenOrientation="userLandscape"
                android:theme="@style/CampoTextoPurpura">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".Activities.SignupActivity"
                android:screenOrientation="userLandscape"
                android:theme="@style/CampoTextoPurpura" />
        <activity
                android:name=".Activities.MainActivity"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Activities.LevelsActivity"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Activities.NewPatientActivity"
                android:screenOrientation="userLandscape"
                android:theme="@style/CampoTextoPurpura" />
        <activity
                android:name=".Activities.PatientsActivity"
                android:screenOrientation="userLandscape" />
    </application>

</manifest>